# See https://help.github.com/ignore-files/ for more about ignoring files.

# Type definitions
flow-typed/npm

# dependencies
node_modules
.yarn-cache
.eslintcache
.cache-loader
.jest-cache

# testing
coverage

# production
temp
dist
!dist/index.html

.gitignore
